body{ /*grid container*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer";
    background-color: rgb(207, 207, 207); /*bakgrundsfärg i hela dokumentet*/
    color: black; /*textfärg i hela dokumentet*/
} 

header{
    grid-column: 1;
    grid-row: 1;
}

nav{
    grid-column: 2 /span 2;
    grid-row: 1;
    display: grid;
}

li:nth-child(1){
    display: grid;
    grid-column: 1;
    width: 1fr;
}

li:nth-child(2){
    display: grid;
    grid-column: 2;
    width:1fr;
}

li:nth-child(3){
    display: grid;
    grid-column: 3;
    width: auto;
}

ul{
    display:grid;
    grid-column: 1 /span 3;
}

nav li{
    grid-column: 2;
}

nav ul{
    list-style-type: none; /*tar bort pricken innan länkarna*/
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none; /*tar bort undertexten under länkarna i navigationsmenyn*/
}

a:hover{ /*länkfärg vid hover*/
    color:rgb(189, 118, 255);
}

main{
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{ /*sidfotens placering*/
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
}