.gridcontainer{ /*grid container*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto;
    grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer";
    min-height:100vh;
}

body{
    background-color: rgb(240, 235, 216); /*bakgrundsfärg i hela dokumentet*/
    color: rgb(13, 19, 33); /*textfärg i hela dokumentet*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
} 

p{
    font-size: 1.15em;
}

header, nav, footer{
    background-color:rgb(29, 45, 68);
}

header{
    display:grid;
    grid-column: 1;
    grid-row: 1;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav{
    grid-column: 2 /span 2;
    grid-row: 1;
    display: grid;
    padding-right: 8px;
    padding-top: 8px;
}

ul{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li{
    border:solid 2px rgb(240, 235, 216);
    width:12em;
    height: 3em;
    margin:auto;
}

li:nth-child(1){
    display: grid;
    grid-column: 1;
}

li:nth-child(2){
    display: grid;
    grid-column: 2;
}

li:nth-child(3){
    display: grid;
    grid-column: 3;
}

nav ul{
    list-style-type: none; /*tar bort pricken innan länkarna*/
    margin: 0;
    padding: 0;
}

nav a{
    text-align:center;
    vertical-align:middle;
    line-height:3em;
    font-weight:900;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(29,45,68);
    background-color: rgb(116,140,171);
}

a:hover{
    text-decoration: none;
    color: rgb(13,19,33);
    background-color: rgb(62,92,118);
}

nav a:link{
    color:rgb(246, 241, 238);
    background-color:rgb(29, 45, 68);
}

nav a:visited{
    color:rgb(246, 241, 238);
    background-color:rgb(29, 45, 68);
}

nav a:hover{ /*länkfärg vid hover*/
    color:rgb(246, 241, 238);
    background-color:rgb(13,19,33);
}

nav a:active{
    background-color:rgb(29, 45, 68);
}

main{
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 8px;
    margin-right: 8px;
}

section:nth-child(2){
    margin-left: 8px;
}

footer{ /*sidfotens placering*/
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align:center;
    margin-top: auto;
    color:rgb(116,140,171)
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5ex;
    margin-top:auto;
    margin-bottom:auto;
    color:rgb(240,235,216)
}

.katte{
    width:100%;
}

table{
    width:100%;
    border-collapse:collapse;
}

td{
    border:solid rgb(13,19,33) 2px;
    padding:7px;
    color:rgb(255, 255, 255)
}

tr:nth-child(even){
    background-color:rgb(62,92,118);
}

tr:nth-child(odd){
    background-color:rgb(116,140,171);
}

.TextArbete{
    grid-column:1;
}

.fotboll{
    width:100%;
}

section:first-of-type{
    grid-column: 1;
    margin-left: 10%;
    margin-right: 10%;
}

section:last-of-type{
    grid-column: 2;
}

img{
    margin-top:8px;
}